@let users = (vm$ | async)?.results;

<form [formGroup]="form">
    <input type="text" formControlName="query">
    <div formGroupName="filters">
        <label>Filtrer city</label>
        <input type="text" formControlName="city">

        <label>Filtrer company</label>
        <input type="text" formControlName="company">
    </div>
</form>

@if (searchControl.hasError('required')) {
    <p>Champ est requis</p>
}

<ul>
    @for (user of users ; track user.id) {
        <li>{{ user.name }} - {{ user.company.name }} - {{ user.address.city }}</li>
    }
</ul>