<input type="text" placeholder="Filtrer..." [(ngModel)]="searchOption">

<ul>
    @for (option of optionsFiltered() ; track option.id) {
        <li [aria-selected]="highlightedIndex() == $index" (click)="toggleOption(option)" [class.hightlight]="highlightedIndex() == $index">{{ option.label }}</li>
    }
</ul>

<div>
    @for (token of selectedOptions ; track token) {
        <span>
            {{ token.label }}
            <button (click)="toggleOption(token)">Supprimer</button>
        </span>
    }
</div>
