@let user = (vm$ | async)?.user;

<h1>{{ user?.name }}</h1>

<form [formGroup]="form" (ngSubmit)="edit()">
    <label>Nom</label>
    <input type="text" formControlName="name">

    <label>Username</label>
    <input type="text" formControlName="username">

    <label>Email</label>
    <input type="text" formControlName="email">

    <div formGroupName="address">
        <label>Street</label>
        <input type="text" formControlName="street">

        <label>city</label>
        <input type="text" formControlName="city">

        <div formGroupName="geo">
            <label>Lat</label>
            <input type="text" formControlName="lat">
    
            <label>Lng</label>
            <input type="text" formControlName="lng">
        </div>
    </div>

    <button>Modifier</button>

    <div>
        <h1>Tags</h1>
        <div formArrayName="tags">
            @for (tag of tags.controls ; track tag) {
                <div [formGroupName]="$index">
                    <label>Name</label>
                    <input type="text" formControlName="name">

                    <label>Color</label>
                    <input type="color" formControlName="color">
                </div>
                <button (click)="removeTag($index)">Supprimer un tag</button>
            }
        </div>
        <button (click)="addTag()">Ajouter un tag</button>
    </div>

    
</form>

<!-- <ng-container *ngIf="vm$ | async as vm">
    <h1>{{ vm?.user?.name }}</h1>
</ng-container> -->