.form-group {
    background-color: gray;
    border: 1px solid black;
    padding: 10px;
}

.form-array {
    border: 1px dashed blue;
    margin: 5px;
    padding: 5px;
    background-color: #f0f8ff;
}